VITE_SUPABASE_URL=https://fzwzdmqyojjrjpnrlvzb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ6d3pkbXF5b2pqcmpwbnJsdnpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3MDg2MzcsImV4cCI6MjA5MjI4NDYzN30.iNi1gqI2enp_hwbPYzpyQzgWpLOGAXX6wuasRvWkq6k
